/* fórmula:

seletor{
    propriedade: valor;
    
}*/

/* CSS INLINE <- dentro de um elemento em forma de atributo  
CSS EXTERNO <- O MAIS USADO E TAMBÉM O MAIS CORRETO; outro arquivo que vai ser linkado 
html
CSS NO CÓDIGO <- dentro do arquivo HTML */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

html, body{
    /* margem */
    margin: 0; 
    /* preenchimento */
    padding: 0;
}
img.segundaFoto{
    float: left;
    width: 140px;
}
/* asterístico = coringa */
*{
    font-family: 'Work Sans', sans-serif;
}
/* configuração navegação */

nav a{
    background-position: 0%;
    left: 0;
    top: 0;
    width: 100%;
    height: 136px;
    background: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    font-size: larger; 
    font-style: italic;
    text-decoration: none;
}

/* regras dos conteúdos
main{
    padding: 80px, 20px;
} */

.homeArticle{
    width: 30%;
    background: #420f3a;
    border-radius: 100px;
    /* top, bottom, left, right  */
    box-shadow: 0px 4px 44px 4px rgba(13, 34, 3, 0.95);
    padding: 15px;
    display: inline-block;
    min-height: 170px;
    padding-top: 100px;
    /* site: border radius generator */
}

.homeArticle img{
    float: left;
    margin-right: 10px;
    border: 1px dotted #000000;
    border-radius: 15;
}
.homeArticle h2{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.homeArticle p{
    font-style: italic;
    text-indent: 20px;
    color:#fff;
}
.homeArticle a{
    width: 100px; 
    display: block;
    position:relative;
    float:right;
    left: 0;
    text-align: center;
    padding: 4px;
    background: rgb(56, 4, 104);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.homeArticle a:hover{
    box-shadow: rgb(10, 77, 1);
    padding: 6px;
    border-radius: 15;
}

.carousel li{
    list-style: none;
    display: inline-block;
    box-shadow: 0px 4px 44px 4px rgba(74, 1, 36, 0.95);
    padding: 4px;
}
.carousel {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 44px 4px rgba(74, 1, 36, 0.95);
    background: rgba(255, 0, 140, 0.484);
}
footer span{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: #420f3a;
}
.homeArticle.active{
    background: ;
}
/* estilos de carousel
.carousel{
    width: 100%;
    background: rgba(255, 0, 140, 0.484); //apagar;
} */
